#dealer_logo {
    height: 50%;
    width: 50%;
}
#main_title {
    text-align: center;
}
#logo_cell {
    width: 20%;
}
#title_cell {
    width: 20%;
}
.center {
    margin-right: auto;
    margin-left: auto;
  }
.navi_cell {
    width: 5%;
}